*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 54, 128);
    margin-left: 7%;
    text-shadow: -1px -1px black;
}
#subtitulo{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color: rgba(209, 228, 245, 0.884);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: rgb(24,72,143);
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}
.campo {
margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: rgb(24, 72, 143);
    display: block;
}
fieldset  .grupo .campo{
   float: left;
    margin-right: 1em;
}
.campo{
    input[type="Text"] , .campo[type="email"], .campo select, .campo textarea{
        padding: 0.2em;
        border: 1px solid rgb(24,72,143);
        box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
        display: block;
    }
}
.campo select option{
    padding-right: 1em;
}
.campo input :focus, .campo select :focus, .campo textarea :focus {
    background: white;
}
.botao{
    font-size: 1.2em;
    background: #143d96;
    border: 0;
    margin-bottom: 1em;
    color: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50% , -50%);
    display: flex;
    align-items: center;
} 
.botao :hover{
    background-color: #4376e4;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.botao, select{
    cursor: pointer;
}
#check{
    display: inline-block;
}